<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="navbar me-auto ml-4 mb-4">
                <form class="d-flex" method="POST" action="/notes/search">
                    <input class="form-control me-sm-2" type="text" size="50"
                        placeholder="Buscar" name="search" value={{search}}>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        {{#if search}}
           <div class="col-4">
                <div class="navbar-nav ms-auto ml-4 mb-4">
                    <h5>Resultados de la búsqueda: 
                        <span class="badge rounded-pill bg-secondary text-white">
                            {{search}}
                        </span>
                    </h5>
                </div>
           </div>
        {{/if}}
    </div>
    {{#if search}}
        <div class="row">
            {{#each notas}}
                <div class="col-md-3">
                    <div class="card text-dark bg-light border-info mb-3">
                        <div class="card-header">
                            <h4 class="card-title d-flex justify-content-between align-items-center">
                                {{titulo}}
                            </h4>
                        </div>
                        <div class="card-body">
                            <p>{{descripcion}}</p>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="col-md-3">
                    <div class="card text-dark bg-light border-info mb-3">
                        <div class="card-header">
                            <h4 class="card-title d-flex justify-content-between align-items-center">
                                Resultados
                            </h4>
                        </div>
                        <div class="card-body">
                            <p>No se encontraron resultados</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>